<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Masjid Pass</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav style = "padding: 0px;" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" style="padding: 8px" asp-area="" asp-controller="Home" asp-action="Index">Masjid Pass</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1" style="">
                        <style>.nav-item:hover {background: #ffdfe9;} .nav-item {padding: 0.5rem 0.25rem; border-radius: 3px; word-wrap: normal;}</style>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="Events" asp-controller="Events" asp-action="Index">Event Booking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Rules">Rules</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Instructions">Instructions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Contact">Contact Us</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Covid">Covid</a>
                        </li>
                        
                       @* @{ if (User.Identity.IsAuthenticated){
                         
                        <li class="nav-item rounded" style="float:right;">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Signout">
                                Sign out    
                            </a>
                        </li>
                        } 
                    }*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>

<footer class="border-top footer text-muted" id="footer">
    <div class="container" >
        &copy; 2020 - MasjidPass - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        | We are <a href="https://github.com/snmcCode/MasjidPass" target=_blank> open source </a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)


</html>
