MasjidTracker/bin/
MasjidTracker/obj/
.vs/
database-sql/bin/Debug/database_sql.pdb
database-sql/obj/

database-sql/bin/
common/obj
*.dbmdl
*.jfm
MasjidTracker/obj
MasjidTracker/obj
/SNMC-Scanner/SNMC-Scanner/obj
/SNMC-Scanner/SNMC-Scanner.Android/obj
/SNMC-Scanner/SNMC-Scanner.iOS/obj
common/bin
SNMC-Scanner/SNMC-Scanner/bin
SNMC-Scanner/SNMC-Scanner.Android/bin
common/bin
*.user
SNMC-Scanner/SNMC-Scanner/bin
SNMC-Scanner/SNMC-Scanner.Android/bin
common/bin
MasjidTracker/Properties/PublishProfiles
MasjidTracker/.config/dotnet-tools.json
