MasjidTracker/bin/
MasjidTracker/obj/
MasjidTracker/appsettings.Development.json
.vs/
database-sql/bin/Debug/database_sql.pdb
database-sql/obj/

database-sql/bin/
common/obj
*.dbmdl
*.jfm
MasjidTracker/obj
MasjidTracker/obj
Scanner/obj
Scanner.Android/obj
Scanner.iOS/obj
common/bin
Scanner/bin
Scanner.Android/bin
Scanner.iOS/bin
common/bin
*.user
Scanner/bin
Scanner.Android/bin
Scanner.iOS/bin
common/bin
MasjidTracker/Properties/PublishProfiles
MasjidTracker/.config/dotnet-tools.json
BackEnd/Properties/PublishProfiles
Documentation/postmanFiles
appsettings.Development.json
.vscode
MasjidTracker/Properties/serviceDependencies.local.json
Scanner/Android/app/release
Admin/bin
Admin/obj
.idea/workspace.xml
Scanner/Android/.idea/misc.xml
Admin/Properties/PublishProfiles
Admin/Properties/serviceDependencies.snmctrackingadmin-Testing - Web Deploy.json

Scanner/Android/app/src/development
*.rest
*.deb