@page
@model Admin.Pages.IndexModel
@{
    ViewData["Title"] = "Sign In";
}

<h1>Admin</h1>
<h4>@ViewData["Title"]</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label class="control-label">Organization ID</label>
                <input asp-for="Organization.LoginName" class="form-control" />
                <span asp-validation-for="Organization.LoginName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input asp-for="Organization.LoginSecretHash" class="form-control" type="password" />
                <span asp-validation-for="Organization.LoginSecretHash" class="text-danger"></span>
            </div>
            <div form-group>
                <input type="submit" value="Sign In" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

