@page 
@model Admin.Pages.ScannerAppModel
@{
    ViewData["Title"] = "Scanner App";
}

<div class="text-center" style = "margin-top: 40px">
    <h1> Install 'Masjid Check-In Scanner' </h1>
    <h5> for Android </h5>   
</div>

<div class = "text-center">
    <img class = "img" src="~/images/qrcodeScanner.png" width = "300" height = "300" asp-append-version="true" alt="QR Code for Scanner" />
</div>

<div class="text-center">
    <h5> Scan the code with your device camera or visit the install page on your device browser: </h5>  
    <h6> 
        <a href=https://install.appcenter.ms/orgs/snmc/apps/masjid-tracker/distribution_groups/public target = "_blank"> 
            https://install.appcenter.ms/orgs/snmc/apps/masjid-tracker/distribution_groups/public 
        </a>
    </h6>       
</div>
