*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    color: #333;
    font-family: "Nunito Sans", sans-serif;
  }
  
  body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .content {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
  }
  
  .heading {
    width: 100%;
    margin-left: 1rem;
    font-weight: 900;
    font-size: 1.618rem;
    text-transform: uppercase;
    letter-spacing: .1ch;
    line-height: 1;
    padding-bottom: .3em;
    /* margin-bottom: 0.5rem; */
    position: relative;
  }
  .heading:after {
    display: block;
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
    bottom: 0;
    margin-bottom: 0.6rem;
  }
  
  .description {
    width: 100%;
    margin-top: 0;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }

  .scrolling-wrapper{
    /* align-items: stretch; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    /* justify-content: center; */
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
  }

  .card {
    color: inherit;
    cursor: pointer;
    width: 200px;
    min-width: 200px;
    height: 250px;
    min-height: 250px;
    perspective: 1000px;
    margin: 0.5rem;
    position: relative;
    border: none;
  }

  .mycard {
    color: inherit;
    cursor: pointer;
    width: 200px;
    min-width: 200px;
    height: 250px;
    min-height: 250px;
    perspective: 1000px;
    margin: 0.5rem;
    position: relative;
    border: none;
  }

  @media screen and (max-width: 800px) {
    .card {
      width: calc(50% - 2rem);
    }
  }
  @media screen and (max-width: 500px) {
    .card {
      width: 100%;
    }
  }
  
  .front,
  .back {
    display: flex;
    border-radius: 6px;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 600ms;
  }
    
  .front {
    background-size: cover;
    padding: 0.5rem;
    font-weight: 500;
    overflow: hidden;
    font-family: sans-serif;
    line-height: normal;
    width: 200px;
    min-width: 200px;
    height: 250px;
    min-height: 250px;
    border-radius: 6px;
  }

  .myfront {
    background-size: cover;
    padding: 1rem;
    font-weight: 500;
    color: #fff;
    overflow: hidden;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 6px;
    background-position: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .front:before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
    opacity: .25;
    z-index: -1;
  }

  .myfront:before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg,#3e8792 , #9fc2c9);  
    opacity: .25;
    z-index: -1;
  }

  .myfront .button {
    background: linear-gradient(135deg,#e61a80, #e61a3c);
  }

  .card:hover .front {
    transform: rotateY(180deg);
  }
  .card:nth-child(even):hover .front {
    transform: rotateY(-180deg);
  }
  
  .back {
    background: #fff;
    transform: rotateY(-180deg);
    padding: 0 2em;
  }
  .back .button {
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
  }
  .back .button:before {
    box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
    background-color: rgba(26, 87, 230, 0.25);
  }
  .card:hover .back {
    transform: rotateY(0deg);
  }
  .card:nth-child(even) .back {
    transform: rotateY(180deg);
  }
  .card:nth-child(even) .back .button:before {
    box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
    background-color: rgba(230, 26, 60, 0.25);
  }
  .card:nth-child(even):hover .back {
    transform: rotateY(0deg);
  }
  
  .button {
    transform: translateZ(40px);
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-weight: bold;
    color: #fff;
    padding: .5em 1em;
    border-radius: 100px;
    font: inherit;
    border: none;
    position: relative;
    transform-style: preserve-3d;
    transition: 300ms ease;
  }

  .button:disabled{
    background: #dddddd;
    transform: none;
    transform-style: none;
    transition: none;
  }

  .button:disabled:hover {
    transform: none;
  }

  .button:before {
    transition: 300ms ease;
    position: absolute;
    display: block;
    content: '';
    transform: translateZ(-40px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 100px;
    left: 10px;
    top: 16px;
    border-radius: 6px;
  }
  .button:hover {
    transform: translateZ(55px);
  }
  .button:hover:before {
    transform: translateZ(-55px);
  }
  .button:active {
    transform: translateZ(20px);
  }
  .button:active:before {
    transform: translateZ(-20px);
    top: 12px;
  }

  .event-name {
    font-size: 1.618rem; 
    color: black;
    align-self: center; 
    text-align: center;
    font-weight: bold;
  }

  .myfront-content {
    text-align: center; 
    margin: 2px; 
    height: 100%; 
    width: 100%; 
    padding: 15px 0px 20px 0px;
  }

  .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    border-color: none;
    margin-bottom: 20px;
  }

  