<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Tested Positve?</strong> Please help us secure the community by texting the following number.<br>
    <strong>Testé positif?</strong> Aidez-nous à protéger la communauté en envoyant un <br>
    <a href="sms:6138015377">(+1(613) 801-5377)</a>.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

