@model MasjidTracker.FrontEnd.Models.Visitor

@{
    ViewData["Title"] = "VerifyVisitor";
    var isRedirect = ViewBag.Redirected == null ? false : ViewBag.Redirected;
}

<b>Please verify your mobile phone number</b>

<form method="post">
    <div class="form-group">
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" class="form-control" readonly/>
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input name="PhoneNumber" class="form-control" value="@Model.PhoneNumber" readonly/>
        <label asp-for="VerificationCode" class="control-label"></label>
        <input asp-for="VerificationCode" class="form-control" />
         <input name="redirect" value=@isRedirect.ToString() type="hidden" />
        @*<input name="id" id="id" class="form-control" value="6A617161-FEEF-4859-BF08-A150AA9B920A" readonly />
        <input name="phoneNumber" id="phoneNumber" class="form-control" value="+16137972547" readonly />
        <input name="verificationCode" id="verificationCode" placeholder="Enter SMS code" class="form-control" />*@
    </div>
    <div class="form-group">
        <input type="submit" value="Verify" class="btn btn-success" formaction="VerifyCode" />
        <input id="requestCode" type="submit" value="Resend Code" class="btn btn-primary" formaction="RequestCode" />
        @*<a class="btn btn-outline-primary" href="/ResendCode">Resend Code</a>*@
    </div>
</form>