@{
    ViewData["Title"] = "No such page";
}
<br><br>
<div style="text-align: center;"> 
    <div style = "color: red;"> <h1> ERROR 401 </h1></div>
    <h2> Sorry, you are not authorized to view this page. </h2>
    @{var url = Url.Action("Signout", "Home");}
    <h4> Either <a onclick="signOut();" href="#"> sign in </a> or <a href="/registration"> create an account</a> if you do not already have one.</h4>
    <div style = "opacity: 0%;"> 👀 </div>   
</div>

<script>
       function signOut() {
        localStorage.clear();
        location.href = '/Signout';
    }
</script>