@{
    ViewData["Title"] = "No such page";
}
<br><br>
<div style="text-align: center;"> 
    <div style = "color: red;"> <h1> ERROR 404 </h1></div>
    <h2> Sorry, the page you are looking for does not exist </h2>
    <div style = "opacity: 0%;">  🤷 </div>    
    <h6> Let us take you back <a href="/"> home</a> </h6>
</div>