
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
For any questions or concerns, please contact us here: <br />
Pour toute question ou préoccupation, veuillez nous contacter ici: <br />
<p><a class="btn btn-primary" href="mailto:info@snmc.ca">Send email</a></p>

