@{ ViewData["Title"] = "COVID CASE"; }

<h1>@ViewData["Title"]</h1>
<hr>

<h4> Group A - People who were in close proximity to infected person</h4>

<p> A COVID-19 positive individual attended the mosque for prayer in which you scanned in from the same door almost immediately before or after the infected person. 
We highly recommend you consider testing and take precautions to help limit the spread. <br><br>

How to get tested for COVID-19 in Ottawa: <a href="https://www.ottawapublichealth.ca/en/shared-content/assessment-centres.aspx">https://www.ottawapublichealth.ca/en/shared-content/assessment-centres.aspx </a> </p>


<h4> Group B - Everyone that attended the same prayer as the infected person</h4>
<p> A COVID-19 positive person attended the mosque in a timeframe where you also scanned in.
Please monitor for symptoms, take precautions. </p>



<h4> Group C - Everyone who attended the prayer after the prayer that the infected person attended </h4>

<p> A COVID-19 positive person attended the mosque for a prayer, and you scanned in for the next prayer.
Please monitor for symptoms, take precautions.</p>

</p>