@{ ViewData["Title"] = "COVID CASE"; }

<h1>@ViewData["Title"]</h1>
<hr>
<p>
    If you received a text message from the MasjidPass Team indicating you were in Group A or Group B, Ottawa Public Health recommends that you actively self-monitor for the remainder of the 14 days from the date that you attended the same prayer as the infected individual.
    <br>
    Recommendations for self-monitoring include measuring your temperature daily and watching for the following symptoms:
    <br>

    <ul>
        <li>Fever > 38°C</li>
        <li>    Cough</li>
        <li>    Difficulty breathing</li>
        <li>    Headache</li>
        <li>    Fatigue</li>
        <li>    Sore Throat</li>
        <li>    Chills</li>
        <li>    Muscle Pain</li>
        <li>    Nasal Congestion</li>
        <li>    Nausea, vomiting, diarrhea</li>
        <li>    Joint pain</li>
        <li>    Decreased appetite</li>
    </ul>
</p>

<h4> Group A - People that were in close proximity to infected person</h4>

<p>
    A COVID-19 positive individual attended the mosque for prayer in which you scanned in from the same door almost immediately before or after the infected person.
    Please be vigilant in taking precautions to help limit the spread. <br><br>

    How to get tested for COVID-19 in Ottawa: <a href="https://www.ottawapublichealth.ca/en/shared-content/assessment-centres.aspx">https://www.ottawapublichealth.ca/en/shared-content/assessment-centres.aspx </a>
</p>


<h4> Group B - Everyone that attended the same prayer as the infected person</h4>
<p> A COVID-19 positive person attended the mosque in a timeframe where you also scanned in.
Please monitor for symptoms, take precautions. </p>


</p>