@{ ViewData["Title"] = "COVID CASE"; }

<h1>@ViewData["Title"]</h1>
<hr>
<p>
    If you received a text message from the MasjidPass Team indicating you were in Group A or Group B, Ottawa Public Health recommends that you actively self-monitor for the remainder of the 14 days from the date that you attended the same prayer as the infected individual.
    <br>
    Recommendations for self-monitoring include measuring your temperature daily and watching for the following symptoms:
    <br>

    <ul>
        <li>Fever > 38°C</li>
        <li>    Cough</li>
        <li>    Difficulty breathing</li>
        <li>    Headache</li>
        <li>    Fatigue</li>
        <li>    Sore Throat</li>
        <li>    Chills</li>
        <li>    Muscle Pain</li>
        <li>    Nasal Congestion</li>
        <li>    Nausea, vomiting, diarrhea</li>
        <li>    Joint pain</li>
        <li>    Decreased appetite</li>
    </ul>
</p>

<h4> Group A - People that were in close proximity to infected person for a short time</h4>

<p>
    A COVID-19 positive individual attended the mosque for prayer in which you scanned in from the same door almost immediately before or after the infected person.
    Please be vigilant in taking precautions to help limit the spread. 
<br>
    We are enforcing pysical distancing at all time but in the unlikely case that you got close to this person or you may know them since you scanned next to or before them. We can't reveal the identity of the person but in the text message you will know the exact time and date.'
    <br />
    <br />
    How to get tested for COVID-19 in Ottawa: 
<a href="https://www.ottawapublichealth.ca/en/shared-content/assessment-centres.aspx">https://www.ottawapublichealth.ca/en/shared-content/assessment-centres.aspx </a>
</p>


<h4> Group B - Everyone that attended the same prayer as the infected person</h4>
<p> A COVID-19 positive person attended the mosque in a timeframe where you also scanned in.
Please monitor for symptoms, take precautions. </p>


</p>
<p>
    For factual, credible and up-to-date information on COVID-19, we continue to encourage residents to visit and refer people to the following sources:
    <br />
    <ul>
        <li>
            <b> Ottawa Public Health</b>
            <ul>
                <li>    Twitter: <a href="https://twitter.com/ottawahealth" target="_blank">https://twitter.com/ottawahealth</a> </li>
                <li>Facebook: <a href="https://www.facebook.com/ottawahealth/" target="_blank">https://www.facebook.com/ottawahealth/</a> </li>
                <li>Web: <a href="https://www.ottawapublichealth.ca/coronavirus" target="_blank">https://www.ottawapublichealth.ca/coronavirus</a> </li>

            </ul>
        </li>
        <li>
            <b> Ontario Ministry of Health</b>
            <ul>
                <li>Twitter: <a href="https://twitter.com/ONThealth" target="_blank">https://twitter.com/ONThealth</a> </li>
                <li>Facebook: <a href="https://www.facebook.com/ONThealth/" target="_blank">https://www.facebook.com/ONThealth/</a> </li>
                <li>Web: <a href="https://www.ontario.ca/page/2019-novel-coronavirus-2019-ncov" target="_blank">https://www.ontario.ca/page/2019-novel-coronavirus-2019-ncov</a> </li>
            </ul>
        </li>
        <li>
            <b>Health Canada / Public Health Agency of Canada</b>
            <ul>
                <li>Twitter: <a href="https://twitter.com/GovCanHealth" target="_blank">https://twitter.com/GovCanHealth</a> </li>
                <li>Facebook: <a href="https://www.facebook.com/HealthyCdns/" target="_blank">https://www.facebook.com/HealthyCdns/</a> </li>
                <li>Web: <a href="https://www.canada.ca/en/public-health/services/diseases/2019-novel-coronavirus-infection.html" target="_blank">https://www.canada.ca/en/public-health/services/diseases/2019-novel-coronavirus-infection.html</a> </li>
            </ul>
        </li>
    </ul>
</p>