
@model MasjidTracker.FrontEnd.Models.Visitor

@using FrontEnd.Models
@using Microsoft.Extensions.Configuration
@using System.Reflection;
@using System
@inject IConfiguration Configuration


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://kit.fontawesome.com/bdd89edb33.js"></script>
    <link rel="manifest" href="/manifest.json" />

    @*<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"*@
    rel="stylesheet" />
    <link rel="stylesheet" href="~/css/events.css" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Flipping Cards</title>
</head>
<body>
    <section class="section-plans" id="section-plans">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                Hosting Plans
            </h2>
        </div>

        <div class="row">
            @*<div class="col-1-of-3">*@
                <div class="card">
                    <div class="card__side card__side--front-3">
                        <div class="card__title card__title--3">
                            <i class="fas fa-mosque"></i>
                            <h4 class="card__heading">SNMC</h4>
                        </div>

                        <div class="card__details">
                            <ul>
                                <li>1 Website</li>
                                <li>50 GB SSD Storage</li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-3">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <p class="card__price-only">Only</p>
                                <p class="card__price-value">$2.95/mo*</p>
                            </div>

                        </div>
                        <a href="#popup" class="btn btn--white">Register</a>
                    </div>
                </div>
            @*</div>*@

            @*<div class="col-1-of-3">*@
                <div class="card">
                    <div class="card__side card__side--front-3">
                        <div class="card__title card__title--3">
                            <i class="fas fa-mosque"></i>
                            <h4 class="card__heading">Gatinue</h4>
                        </div>

                        <div class="card__details">
                            <ul>
                                <li>Includes Basic Package Features</li>
                                <li>Unlimited Websites</li>
                               
                            </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-3">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <p class="card__price-only">Only</p>
                                <p class="card__price-value">$5.45/mo*</p>
                            </div>

                        </div>
                        <a href="#popup" class="btn btn--white">Register</a>
                    </div>
                </div>
            @*</div>*@

            @*<div class="col-1-of-3">*@
                <div class="card">
                    <div class="card__side card__side--front-3">
                        <div class="card__title card__title--3">
                            <i class="fas fa-mosque"></i>
                            <h4 class="card__heading">SNMC</h4>
                        </div>

                        <div class="card__details">
                            <ul>
                                <li>Includes Plus Plan Features</li>
                                <li>High Performance</li>
                                <li>2 Spam Experts</li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-3">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <p class="card__price-only">Only</p>
                                <p class="card__price-value">$13.95/mo</p>
                            </div>
                        </div>
                        <a href="#popup" class="btn btn--white">Register</a>
                    </div>
                </div>
            @*</div>*@
        </div>

        
    </section>
</body>
</html>