
@{
    ViewData["Title"] = "Setup Tutorial";
}

<h1>@ViewData["Title"]</h1>

<h3>
    If you are having trouble setting up your Masjid Pass, please follow the tutorials below:
</h3>





<h1>
    <br>
    <br>
    Introduction:
</h1>

<div class="iframe-container">
    <iframe width="512" height="315" src="https://www.youtube-nocookie.com/embed/XCJj2a4qHuU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>



<h1>
    <br>
    <br>
    Registering For MasjidPass Events:
</h1>
<div class="iframe-container">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/XaHl5y8Z2AE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>



<h1>
    <br>
    <br>
    Registering For MasjidPass - Android tutorial:
</h1>
<div class="iframe-container">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/HARYvV3ScMI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>




<h1>
    <br>
    <br>
    Registering For MasjidPass - Apple tutorial:
</h1>
<div class="iframe-container">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/A4s4oxGyGNM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>





<div>
    <style>
        .iframe-container {
            position: relative;
            width: 100%;
            padding-bottom: 56.25%;
            height: 0;
        }

            .iframe-container iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
    </style>
</div>
