
@{
    ViewData["Title"] = "Setup Tutorial";
}

<h1>@ViewData["Title"]</h1>

<h3>
    If you are having trouble setting up your QR code, please follow the tutorials below:
</h3>

<h1>
    <br>
    <br>
    Android tutorial:
</h1>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QIl2pByDOOE" allowfullscreen></iframe>
</div>

<h1>
    <br>
    <br>
    <br>
    Apple tutorial:
</h1>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/h_avGFAOabk" allowfullscreen></iframe>
</div>
