@{
    ViewData["Title"] = "Privacy Policy/Politique de confidentialité";
}
<h1>@ViewData["Title"]</h1>

<br />
<br />
<h5> Effective January 23rd, 2021.  </h5>
Previous policy <a href="#firstPolicy">here</a>
<br />
<br />

    Your privacy is important to us.
<br />
    Personal information you provide will not be shared outside of MasjidPass except in the unfortunate case that Public Health needs to contact you for COVID-19 contact tracing.
<br />



<br />
<br />

<h5>Definitions:</h5>
<span class="font-weight-bold"> Personal information:</span> Information that ties back to your identity, such as your name, phone number and email.
<br />
<span class="font-weight-bold">
    Check-in:
</span> Any time your MasjidPass is scanned using the MasjidPass Scanner App.
<br />
<span class="font-weight-bold">
    Organization:
</span> The organization that you check-in at using your MasjidPass.
<br />
<br />
<h5 id="purpose">
    Purpose:
</h5>


    The purpose of MasjidPass is to provide quick and accurate contact tracing information in the case of a COVID-19 positive individual who checked-in to a facility so we can notify the persons who also checked-in close to the COVID-19 positive person.

    MasjidPass also facilitates pre-booking events to help organizations ensure the number of individuals attending don't exceed the capacity set by public health authorities.

<br />
<br />
<br />

<h5>
    What are we collecting?
</h5>

<h6>
    At Registration:
</h6>
<ul>
    <li>Name (first, last)</li>
    <li>Phone Number</li>
    <li>Email (optionally)</li>
    <li>Gender</li>
</ul>
<h6>
    At Check-in:
</h6>

<ul>
    <li>Scan date & time</li>
    <li>Organization Name at which you scanned in</li>
    <li>Door at which you scanned in</li>
    <li>Location of the scanner when it scanned your pass in</li>
    <li>Direction (In or out)</li>
</ul>
<br />
                                                                                    We save your registration data separate from your check-in data.
<br />

                                                                                    Check-in data that contains any personal information is automatically deleted after <u class="font-weight-bold">45 days</u>.


<br />
<br />
<h6>What are we saving on your device?</h6>
<br />

                                                                                    We use cookies to help keep you logged in to your MasjidPass. This makes the MasjidPass application available to you even if you are offline and removes the need for you to Sign In often.

<br />
<br />
<div>
    <h4>Q/A</h4>

    <h6>Do we share your information with the organizations using Masjid Pass?</h6>

    No, your personal information is not freely shared with organizations.
    The organization might see your name and the last 4 digits of your phone number when trying to help you login or to help print your MasjidPass, given they search using either your first name and last name or your first name and phone number or your last name and phone number.
    The organization might see your first name if retrieving a list of individuals that registered for an event hosted by the organization.

    <h6>Do we use the data collected for newsletter, announcements, and other purposes that are not related to the MasjidPass <a href="#purpose">purpose</a>?</h6>

    NO. We only collect data to help secure communities by facilitating COVID-19 contact tracing when necessary.

    <h6>Do you have the right to be forgotten?</h6>

    YES. If you <a href="/Home/Contact">request</a> to purge all your personal data from MasjidPass, we will delete your registration data and your check-in data will be deleted after 45 days of your last check-in.
</div>




<br />
<br />
<br />
<hr />
<h4>Previous Privacy Policy</h4>
<p class="font-weight-bold" id="firstPolicy">Effective Date: July 1st, 2020 - January 23 2021</p>
<p>
    Your privacy is important to us.<br />
    The information you provide will not be shared outside of Masjid Pass except in the unfortunate case that Public Health needs to contact you for COVID-19 contact tracing.<br />
    We remove all information tied to your personal identity from the list of mosque check-ins after 3 months of that check-in.
</p>

<hr class="dashed">

<p>
    Votre vie privée est importante pour nous.<br />
    L’information que vous fournissez ne sera pas partagée à hors de Masjid Pass sauf dans le cas infortuné où la santé publique a besoin de vous contacter pour la recherche des contacts qui peuvent avoir le COVID-19.    <br />
    Nous enlevons toutes les informations liées à votre identité personnelle de la liste des enregistrements à la mosquée après 3 mois de cet enregistrement.
</p>
