@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Your privacy is important to us.<br/>
    The information you provide will not be shared outside of SNMC except in the unfortunate case that Public Health needs to contact you for COVID-19 contact tracing.<br />
    We will remove all information tied to your personal identity from the list of mosque check-ins after 3 months of that check-in..
</p>
