@{
    ViewData["Title"] = "Privacy Policy/Politique de confidentialité";
}
<h1>@ViewData["Title"]</h1>

<p>
    Your privacy is important to us.<br />
    The information you provide will not be shared outside of Masjid Pass except in the unfortunate case that Public Health needs to contact you for COVID-19 contact tracing.<br />
    We remove all information tied to your personal identity from the list of mosque check-ins after 3 months of that check-in.
</p>

<hr class="dashed">

<p>
    Votre vie privée est importante pour nous.<br />
    L’information que vous fournissez ne sera pas partagée à hors de Masjid Pass sauf dans le cas infortuné où la santé publique a besoin de vous contacter pour la recherche des contacts qui peuvent avoir le COVID-19.    <br />
    Nous enlevons toutes les informations liées à votre identité personnelle de la liste des enregistrements à la mosquée après 3 mois de cet enregistrement.
</p>