
@{
    ViewData["Title"] = "Rules";
}

<h1>@ViewData["Title"]</h1>
<hr>

<p>
    The safety of all attendees, volunteers and administrative staff is our highest priority.<br /><br />
    <h5>The following rules must be followed for all prayers.</h5><br />

    <h6>Do <b>not</b> come to the masjid if:</h6>
    &emsp;&emsp;1) You have been exposed to COVID-19 <br>
    &emsp;&emsp;2) You have any symptoms of COVID-19 such as fever, cough, chills, shortness of breath or difficulty breathing <br>
    &emsp;&emsp;3) You have travelled outside Canada in the past 14 days <br>
    &emsp;&emsp;4) Are a high-risk individual <br /><br />

    <h6>When attending prayers:</h6>
    &emsp;•     Attendees must maintain social distancing of 6ft from others at all times, including in the parking lot, at entrances and exits, and during prayer times.<br />
    &emsp;•     Attendees are required to<br />
    &emsp;&emsp;1) Bring their Masjid Pass, either on a mobile device or printed out*<br />
    &emsp;&emsp;2) Bring and wear a face mask at all times<br />
    &emsp;&emsp;3) Bring their own adult-size prayer mats<br />
    &emsp;&emsp;4) Bring a plastic bag for their shoes and keep the shoes with them<br />
    &emsp;&emsp;5) Have wudu before coming<br />
    <br /><br />

    Your patience, understanding and support are greatly appreciated.<br /><br />
    <hr />

    *The check-in information from the Masjid Pass will only be shared if a health issue arises and Public Health decides to do contact tracing for the safety of the attendees. Otherwise, it is destroyed on a regular bases.<br /><br />

</p>

