
@{
    ViewData["Title"] = "Rules";
}

<h1>@ViewData["Title"]</h1>
<hr>

<p>
    The safety of all attendees, volunteers and administrative staff is our highest priority.<br /><br />
    <h5>The following rules must be followed for all prayers:</h5>

    &emsp;●     Please do <b>not</b> enter a masjid if any of the following apply to you: <br>
    &emsp;&emsp;1) You have been exposed to COVID-19 <br>
    &emsp;&emsp;2) You have any symptoms such as fever, runny nose or cough <br>
    &emsp;&emsp;3) You have travelled outside Canada in the past 14 days <br>
    &emsp;●     High-risk individuals or anyone experiencing illness or symptoms of COVID-19 should NOT attend the prayers in the masjid.<br />
    &emsp;●     Attendees must maintain social distancing of 6ft from others at all times, including in the parking lot, at entrances and exits, and during prayer times.<br />
    &emsp;●     Attendees are required to<br />
    &emsp;&emsp;1) Bring their Masjid Pass, either on a mobile device or printed out*.<br />
    &emsp;&emsp;2) Bring and wear a face mask at all times.<br />
    &emsp;&emsp;3) Bring their own adult-size prayer mats.<br />
    &emsp;&emsp;4) Bring a plastic bag for their shoes and keep the shoes with them.<br />
    &emsp;●     Please remain seated in your prayer spot and please do NOT wander from your spot.<br />
    &emsp;●     Washroom and wudhu facilities will be closed in this phase of the re-opening. Attendees should make wudhu before visiting the SNMC masjid.<br />


    Your patience, understanding and support is greatly appreciated.<br /><br /><br />

    *The check-in information from the Masjid Pass will only be shared if a health issue arises and Public Health decides to do contact tracing for the safety of the attendees. Otherwise, it is destroyed on a regular bases.<br /><br />

</p>

