
@{ ViewData["Title"] = "Rules/Règles"; }

<h1>@ViewData["Title"]</h1>
<hr>

<p>
    The safety of all attendees, volunteers and administrative staff is our highest priority.<br /><br />
    <h5>The following rules must be followed for all prayers.</h5><br />

    <h6><b>Do not come</b> to the masjid if:</h6>
    &emsp;&emsp;1) You have been exposed to COVID-19 <br>
    &emsp;&emsp;2) You have any symptoms of COVID-19 such as fever, cough, chills, shortness of breath or difficulty breathing <br>
    &emsp;&emsp;3) You have travelled outside Canada in the past 14 days <br>
    &emsp;&emsp;4) Are a high-risk individual <br /><br />

    <h6>When attending prayers:</h6>
    &emsp;•     Attendees must maintain social distancing of 6ft from others at all times, including in the parking lot, at entrances and exits, and during prayer times.<br />
    &emsp;•     Attendees are required to<br />
    &emsp;&emsp;1) Bring their Masjid Pass, either on a mobile device or printed out*<br />
    &emsp;&emsp;2) Bring and wear a face mask at all times<br />
    &emsp;&emsp;3) Bring their own adult-size prayer mats<br />
    &emsp;&emsp;4) Bring a plastic bag for their shoes and keep the shoes with them<br />
    &emsp;&emsp;5) Have wudu before coming<br />
    <br /><br />

    Your patience, understanding and support are greatly appreciated.<br /><br />
    <hr />

    *The check-in information from the Masjid Pass will only be shared if a health issue arises and Public Health decides to do contact tracing for the safety of the attendees. Otherwise, it is destroyed on a regular bases.<br /><br />

</p>

<hr class="dashed">
<p>
    La sécurité de tous les participants, des bénévoles et du personnel administratif est notre plus grande priorité.   <br /><br />
    <h5>Les règles suivantes doivent être suivies pour toutes les prières.</h5><br />

    <h6><b>Ne venez pas</b> au Masjid si :</h6>

    &emsp;&emsp;1) Vous avez été exposé au COVID-19 <br>
    &emsp;&emsp;2) Vous présentez des symptômes du COVID-19 tels que fièvre, toux, frissons, essoufflement ou difficulté à respirer <br>
    &emsp;&emsp;3) Vous avez voyagé hors du Canada au cours des 14 derniers jours <br>
    &emsp;&emsp;4) Vous êtes une personne à risque élevé. <br /><br />

    <h6>En assistant aux prières:</h6>
    &emsp;•     Les participants doivent maintenir une distance sociale de 2 mètres par rapport aux autres à tout moment, y compris dans le parking, aux entrées et sorties et pendant les heures de prière.<br />
    &emsp;•     Les participants sont tenus de<br />
    &emsp;&emsp;1) Apporter leur Masjid Pass, soit sur un appareil mobile, soit sur support papier*<br />
    &emsp;&emsp;2) Apportez et portez un masque facial à tout moment<br />
    &emsp;&emsp;3) Apportez leurs propres tapis de prière de taille adulte<br />
    &emsp;&emsp;4) Apportez un sac en plastique pour leurs chaussures et gardez les chaussures avec eux<br />
    &emsp;&emsp;5) Se présenter en état de Wudu<br />
    <br /><br />

    Votre patience, votre compréhension et votre soutien sont grandement appréciés. <br /><br />
    <hr />

    * Les informations d’enregistrement du Masjid Pass ne seront pas partagées sauf si un problème de santé survient et si la Santé Publique décide de rechercher des contacts pour la sécurité des participants. Sinon, elles sont détruites régulièrement.<br /><br />

</p>

