
@{
    ViewData["Title"] = "Rules";
}

<h1>@ViewData["Title"]</h1>
<hr>

 <p>
    Jumu'ah and daily prayers will take place at the SNMC effective Friday June 12th 2020 in-sha Allah.<br /><br />
    The safety of all attendees, volunteers and administrative staff is our highest priority.<br /><br />
    <h5>The following rules must be followed for all prayers:</h5>

    &emsp;●     Please do <b>not</b> enter SNMC if any of the following apply to you: <br>
    &emsp;&emsp;1) You have been exposed to COVID-19 <br>
    &emsp;&emsp;2) You have any symptoms such as fever, runny nose or cough <br>
    &emsp;&emsp;3) You have travelled outside Canada in the past 14 days <br>
    &emsp;●     High-risk individuals or anyone experiencing illness or symptoms of illness such as cough, fever, or runny nose should NOT attend the prayers in the masjid in order to protect the health of others.<br />
    &emsp;●     As per provincial guidelines, for each prayer you are planning to attend, please have your QR code ready, either on a mobile device, or printed out**.<br />
    &emsp;●     Doors will be open 30 minutes before each prayer.<br />
    &emsp;●     Attendees should make wudhu before visiting the SNMC masjid.<br />
    &emsp;●     Washroom and wudhu facilities will be closed in this phase of the re-opening.<br />
    &emsp;●     Attendees must maintain social distancing of 6ft from others at all times, including the parking lot, entrances, exits, and during prayer times.<br />
    &emsp;●     Attendees are required to bring their own adult-size prayer mats.<br />
    &emsp;●     Attendees are required to bring and wear a face mask at all times.<br />
    &emsp;●     Attendees are required to bring a plastic bag for their shoes and keep the shoes with them. The shoe racks will NOT be available.<br />
    &emsp;●     There will be a line on the floor that everyone must take their shoes off before crossing, then step after it and pick up their shoes, put their shoes in a plastic bag and keep the bag with them.<br />
    &emsp;●     Please remain seated in your prayer spot and please do NOT wander from your spot.<br />
    &emsp;●     Masjid will be open for Fardh prayers. Please pray Sunnah at home.<br />
    &emsp;●     Doors will be locked at iqama time.<br />
    &emsp;●     Iqama times: <br />
    &emsp;&emsp;○     Fjr at 4:15am,<br />
    &emsp;&emsp;○     Dhuhr at 1:30pm,<br />
    &emsp;&emsp;○     Asr at 6:30pm,<br />
    &emsp;&emsp;○     Maghrib at 9:00pm,<br />
    &emsp;&emsp;○     Isha at 10:55pm.<br />
    &emsp;●     Once the parking lot is full, it will be closed.<br />
    &emsp;●     At this phase of re-opening, only children age 12+ can attend.<br />

<hr>

    For Jumu’ah prayer, in addition to the above rules, please note:<br />
    &emsp;●     Following the provincial rules, the masjid will be only able to accommodate a limited number of people at any given time. Once the limit is reached, the doors will be closed, and people will need to wait in a line outside for the next prayer.<br />
    &emsp;●     Four Jumu’ah prayers will be held in-sha Allah:<br />
    &emsp;&emsp;○     1st at 1pm<br />
    &emsp;&emsp;○     2nd at 2pm<br />
    &emsp;&emsp;○     3rd at 3pm<br />
    &emsp;&emsp;○     4th at 4pm<br />
    &emsp;●     Doors will be opened 30 minutes before the start of the Jumu'ah prayers.  Please arrive early as delays are expected.<br />

<hr>

    Jazak Allahu Khairn.<br /><br />
    Your patience, understanding and support is greatly appreciated.<br /><br /><br />

    **The information from the QR code will only be looked at in the unfortunate event that a health issue arise and Public Health decides to do contact tracing for the safety of the attendees.  Otherwise, it will be destroyed on regular bases.<br /><br />

</p>

