@page 
@using Admin.Models;
@model Admin.Pages.Home.LoginModel;
@{
    ViewData["Title"] = "Visitor Login";
}

<h1>@ViewData["Title"]</h1>
<div class = "row col-sm">
    <i>If a visitor forgets his/her Masjid Pass, or cannot access it from their mobile device, you can have them log into this page.  <br>
    Once they successfully login, their QR code will appear and you will be able to scan it. <br>
    </i>
</div>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <input name="firstName" id="firstName" placeholder="First name" class="form-control" />
            </div>
             <div class="form-group">
                <input name="lastName" id="lastName" placeholder="Last name" class="form-control" />
            </div>
             <div class="form-group">
                <input name="phoneNumber" id="phoneNumber" placeholder="Phone number" class="form-control" />
            </div>
            @{
                if (ViewData["LoginFailed"] != null && (bool)ViewData["LoginFailed"]){
                    <div id="signinFailed" class="text-danger" role="alert">
                        Failed to sign in. Please check your credentials. <br> <br>
                    </div>
                }
            }
            <div form-group>
                <input type="submit" value="Sign In"  asp-page-handler="VisitorLogin" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
