@page
@using Admin.Models;
@model Admin.Pages.Home.RegistrationModel
@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>
<h4>Visitor</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Visitor.RegistrationOrg" class="control-label"></label>
                @Html.DropDownListFor(m => m.Visitor.RegistrationOrg,
                       new SelectList(Enum.GetValues(typeof(Organization)), Organization.SNMC))
            </div>
            <div class="form-group">
                <label asp-for="Visitor.FirstName" class="control-label"></label>
                <input asp-for="Visitor.FirstName" class="form-control" />
                <span asp-validation-for="Visitor.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visitor.LastName" class="control-label"></label>
                <input asp-for="Visitor.LastName" class="form-control" />
                <span asp-validation-for="Visitor.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visitor.Email" class="control-label"></label>
                <input asp-for="Visitor.Email" class="form-control" />
                <span asp-validation-for="Visitor.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visitor.PhoneNumber" class="control-label"></label>
                <input asp-for="Visitor.PhoneNumber" class="form-control" />
                <span asp-validation-for="Visitor.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visitor.Gender" class="control-label"></label>
                @Html.DropDownListFor(m => m.Visitor.Gender,
                    new SelectList(Enum.GetValues(typeof(Gender))))
            </div>
            <div class="form-group">
                <label class="control-label">Bypass Verification</label>
                <input asp-for="BypassVerification" id="verifyCheckbox" type="checkbox" onchange="check()" />
            </div>
            <div id="hideShow" class="form-group" hidden>
                <div class="form-check">
                    <input type="radio" id="verifyNow" value=true name="verify" class="form-check-input" asp-for="Visitor.IsVerified">
                    <label for="verifyNow" class="form-check-label">Verify Now</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="verifyLater" value=true name="verify" class="form-check-input" asp-for="VerifyLater">
                    <label for="verifyLater" class="form-check-label">Verify Later</label>
                </div>
            </div>
            <div class="form-group">
                    @Html.CheckBoxFor(x => x.AgreeCheckbox)
                    The visitor agrees to the <a target="_blank" href="Rules">rules</a> of the masjid and the <a target="_blank" href="Privacy">privacy policy</a>
                </div>
            <div form-group>
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>