@page "{Id}/{PhoneNumber}/{FirstName}/{LastName}"
@model Admin.Pages.Home.VerifyVisitorModel
@{
    ViewData["Title"] = "VerifyVisitor";
}

<b>Please verify the mobile phone number</b>

<form method="post">
    <div class="form-group">
        <label asp-for="Visitor.Id" class="control-label"></label>
        <input asp-for="Visitor.Id" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Visitor.PhoneNumber" class="control-label"></label>
        <input asp-for="Visitor.PhoneNumber" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Visitor.FirstName" class="control-label"></label>
        <input asp-for="Visitor.FirstName" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Visitor.LastName" class="control-label"></label>
        <input asp-for="Visitor.LastName" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Visitor.VerificationCode" class="control-label"></label>
        <input asp-for="Visitor.VerificationCode" class="form-control" />
    </div>
    <p style="color:#FF0000";>  @ViewData["RequestMessage"] </p> 
    <div class="form-group">
        <input type="submit" value="Verify" class="btn btn-success" asp-page-handler="VerifyCode" />
        <input type="submit" value="Resend Code" class="btn btn-primary" asp-page-handler="RequestCode" />
        <input type="submit" class = "btn btn-warning" value="Cancel" asp-page-handler="Cancel" />
    </div>
</form>
