<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/04d43f78-6dbc-4492-b0e9-195ed27e3a79/resourceGroups/attendance-tracking/providers/Microsoft.Web/sites/snmtrackingapi-anonymous</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://snmtrackingapi-anonymous.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>snmtrackingapi-anonymous.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>snmtrackingapi-anonymous</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$snmtrackingapi-anonymous</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>